In [1]:
#To write in a file use below query and one can write the things only inside the file.write(..)
with open ("example.txt","w") as file:
    file.write("Hello World")

In [2]:
!ls

example.txt

In [4]:
#To read a file use below query and one can read the things only inside the file.read(..)
with open("example.txt","r") as file:
    print(file.read())

Hello World

In [5]:
#To append new lines in the same file use below query
with open ("example.txt","a") as file:
    file.write("\nHello Python")
    file.write("\nHello Jupyter")
    file.write("\nHello Data Science")

In [6]:
with open("example.txt","r") as file:
    print(file.read())

Hello World
Hello Python
Hello Jupyter
Hello Data Science

In [7]:
with open("example.txt","r") as file:
    print(file.readline())
    print(file.readline())

Hello World

Hello Python

In [14]:
with open("example.txt","r") as file:
    print(file.readline(5))
    print(file.readline(5)) # not used 
    print(file.read(2)) # must be used

Hello
 Worl
d

In [15]:
# this could be used to write a list in a text file
seq = ["This is line 1\n","This is line 2"]
with open("example1.txt","a") as file:
    for line in seq:
        file.write(line)

In [16]:
with open ("example1.txt","r") as file:
    print(file.read())

This is line 1
This is line 2

In [17]:
# another way to write list
seq = ["This is line 1\n","This is line 2"]
with open("example2.txt","a") as file:
        file.writelines(seq)

In [18]:
with open ("example2.txt","r") as file:
    print(file.read())

This is line 1
This is line 2

In [19]:
with open ("example2.txt","r") as file:
    print(file.readlines())

['This is line 1\n', 'This is line 2']

In [23]:
# to make a csv file
seq = ["Vinayak,", "Rai" ,"\n", "Sadhana,", "Upadhyay"]
with open ("example3.csv","a") as file:
    file.writelines(seq)

In [24]:
with open("example3.csv","r") as file:
    print(file.read())

Vinayak,Rai
Sadhana,Upadhyay

In [25]:
#to use pandas
import pandas as pd

In [26]:
df = pd.read_csv("example3.csv", header = None)
df

         0         1
0  Vinayak       Rai
1  Sadhana  Upadhyay

In [28]:
df = pd.read_csv("example3.csv", header = None, names=['A' , 'B'])
df

         A         B
0  Vinayak       Rai
1  Sadhana  Upadhyay